<div class="page-header">
  <h1><%= title %><small>List of received mail</small></h1>
</div>
<div class="row">
  <div class="span16">
    <h2>Emails</h2>
    <table class="zebra-striped">
      <tr>
        <th>Time</th>
        <th>From</th>
        <th>To</th>
        <th>Size</th>
      </tr>
      <% data.forEach(function(data){ %>
        <tr>
          <td><%= data.time %> </td>
          <td><%= data.from %> </td>
          <td><%= data.to %> </td>
          <td><%= data.size %> </td>
        </tr>
      <% }) %>
    </table>
  </div>
</div>

